.person {
	color: red;
}

.band {color: blue;}

.organization {color:yellow;}

.song {color:green;}


.streaming-service {
	color: purple;
}
.newspaper {
	color: pink;
}
.place {color:brown;}

.website {
	color: green;
}


