@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@font-face{
  font-family: "new_font";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Franklin Gothic Heavy Italic.ttf");
}

@font-face{
  font-family: "Metropolis-ExtraBoldItalic";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Metropolis-ExtraBoldItalic.otf");
}
@font-face{
  font-family:"futura";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Futura Condensed Bold/Futura Condensed Bold.otf");
}

@font-face{
  font-family:article;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/timr45w.ttf");
}

@font-face{
  font-family:article_block;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/timr65w.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

@font-face{
  font-family:"Bebas Neue";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/BebasNeue-Regular.woff");
}

@font-face{
  font-family:"Inter";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Inter-Bold.ttf");
}

@font-face{
  font-family: orwell;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Orwell.ttf");
}

@font-face{
  font-family:Golddrew;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/tabloid_fonts/Golddrew.ttf");
}

/* NAVBAR */
.navbar {
  border-style: solid;
  border-color: white;
  background-color:rgb(183,64,59); 
  position: relative;
  height:80px;
}
/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

.navbar li {
  position: relative;
}

/* Tutti gli elementi linkati in navbar */
.navbar a {
  padding: 0px;
  font-family: "Metropolis-ExtraBoldItalic"!important;
  font-size: 30px;
  color: white;
  margin-right: 25px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding: 0px;
}

.navbar a:hover{
  color: black;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden; 
  background: #fff; /* CI POTREBBE STARE PURE TRASPARENTE CIOE rgba(0000) */
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 1em;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  font-size: 14px;
  color: black;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgb(183,64,59); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white !important;
  cursor: pointer;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(183,64,59);
  color: white;
  padding: 10px 15px;
  border: none;
  right:0;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  float: right;
}

/*fine sidebar*/

.title_issue {
  width:83%;
  margin-left:auto;
  margin-right: auto;
  }

.banner_issue{
  text-align: center;
  font-family: 'Courier Prime', monospace;
  color: rgb(183,64,59);
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  height:45px;
}

.article_col{
  border:solid gray;
  border-width: thin;
  margin: 0.5em;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  background: white;
  font-family:"Hel", sans-serif;
  color:black;
}

.article_col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
.article_col::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.article_col::-webkit-scrollbar-thumb {
    background-color: #000000;
}


.start_line{
border-top: 3px solid black;
width: 80px;
margin-top: 0;
}


.paragraph_header{
  font-family: futura;
  size: 20px;
  text-align: center;
}
.author_and_date{
  size:10px;
}

figcaption{
   size:10px;
}

body{
  background-color: white;
  /*background-image: url("https://miro.medium.com/max/630/1*CJKgA7EHcxi8wMs1_6kBqA.jpeg");*/
}

.article_col figure{
  text-align:center;
}

.article_col .video{
  display: block;
  text-align:center;
}

#col1 ul{
    list-style: none;
}

#col1 ul li {
    text-indent: -0.3rem;
  }

#col1 .title_and_subtitle{
  background-image: url("../imgs/may.jpeg");
  padding:5px;
  height: 335px;
  width: auto;
  text-align: left;
  margin-top: 15px;
  background-size: cover;
  font-family: futura;
  font-size: 60px;
  color: white;
  line-height: 1em;
}


 #col1 .title {  
  font-size: 30px;
  text-decoration: underline;
 }

#col2 .title_and_subtitle{
  text-align: left;
  color:white;
  font-family: futura;
  font-size: 70px;
  line-height: 1em;
  background-image: url("../imgs/boris.jpeg");
  background-size: cover;
  height: 335px;
  width: auto;
  margin-top: 15px;
  padding: 6px;
 }

 #col2 .title {  
  max-width:80%;
  word-wrap: break-word;
 }

#col3 .title_and_subtitle{
  text-align: left;
  padding-top:0.1em;
  padding-left: 5px;
  height: 335px;
  width: auto;
  margin-top: 15px;
  background-image: url("../imgs/couple.jpg");
  background-size: cover;
  font-size: 40px;
  line-height: 1em;
  color: white;
}

#col3 .title{
  max-width:80%;
  text-decoration: underline;
  font-family: 'futura';
  font-size: 30px;
}

#col3 .subtitle{
  max-width:50%;
  font-size: 40px;
  line-height: 1em;
  font-family: "futura";
  margin-top: 2px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.extract{
  font-family: 'Arimo', sans-serif;
  border-radius: 25px;
  padding:0.5em;
  text-align: center;
}

#col2 .extract{
  background-color: rgba(255, 234, 0.6);
}

#col3 .extract{
  background-color: rgba(180, 12, 133, 0.8);
}

#col1 .extract{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#col2 p{
  column-count: 2;
}

