body {
  background-color: rgb(250, 247, 230) !important;
}

footer {
  display: block;
}

p {
color: rgb(0, 97, 75);
font-family: "Times New Roman", Times, serif; !important;
}

h2 {
  font-family: "Times New Roman", Times, serif; !important;
}

h3
{font-family: "Times New Roman", Times, serif; !important;}

h4{font-family: "Times New Roman", Times, serif; !important;}
h5 {
  font-family: "Times New Roman", Times, serif; !important;
}

h1 {
  color: rgb(215, 54, 42) !important;
  font-family: "Times New Roman", Times, serif; !important;
}

.container_articles {
	background-color: rgb(250, 247, 230);
}

.article_col {
  overflow: auto;
  border-style: solid;
  overflow-x: hidden;
  border-color: black;
  padding: 20px !important;
  height: 800px;
  
}


.row_articles {
  column-gap: 10px;
}

.article_col::-webkit-scrollbar {
    width: 0.5em;
    margin: 2px;
}
 
.article_col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.article_col::-webkit-scrollbar-thumb {
  
  outline: 1px solid; 
}


.img-fluid {
    max-width: auto;
    height: auto;
   

}

/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

  clear: left;
}

.navbar li {
  position: relative;
}

/* Tutti gli elementi linkati in navbar */
.navbar a {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 0px 20px;
  font-family: "Times New Roman", Times, serif; !important;
  font-size: 20px;
  color: rgb(215, 54, 42) !important;
  white-space: nowrap;
  transition: 0.3s;
  text-align:center !important;

}

.navbar a i {
  line-height: 0;
  margin-left: 5px;
  font-family: "Times New Roman", Times, serif; !important;
  font-size: 20px;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden; 
  background: #fff; /* CI POTREBBE STARE PURE TRASPARENTE CIOE rgba(0000) */*
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: black;
}





.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  color: green;
}

a:hover {
  color: #3EEFAF !important;
}


.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.style {
  text-align: center;
  display: block;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: rgb(183,64,59);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white !important;
  cursor: pointer;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(183,64,59);
  color: white;
  padding: 10px 15px;
  border: none;
  right:0;
}

.openbtn:hover {
  background-color: #444;
}

/* For the Homepage */
.img_issue{
  width:200px;
  height: auto;
  border-radius: 25px;
}


#magazine_title{
  width:70%;
  margin: auto;
  text-align: center;
  font-size: 90px;
  font-family: "Times New Roman", Serif;
}

#main_subt{
  font-size: 20px;
  text-align: left;
  line-height: 1em;
}

#spinning_vinyl{
  width: 200px;
  height:auto;
}

.container{
  font-family:'Times New Roman', serif;
}

.title{
  text-align: center;
  font-size: 44px;
}

/* NAVBAR */
.navbar {
  font-family:'Times New Roman', serif;
  background-color: transparent;
  position: fixed;
}

.navbar_hr {
  color: white;
}


/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

/* Tutti gli elementi in navbar */
.navbar li {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  white-space: nowrap;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0px;
  color:rgb(215, 54, 42);
}

.navbar li a {

}

.navbar li:hover{
  color: #D9AFD9;!important;
}

.navbar li a:hover{
  color: #D9AFD9; !important;
  text-decoration:none;
}


/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
  padding: 10px;
  font-size: 20px;
  color: rgb(215, 54, 42);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


/*Fine navbar*/