@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

/* NAVBAR */
.navbar {
  font-family:'Zen Antique', serif;
  background-color: black;
  position: fixed;
}
/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

.navbar li {
  position: relative;
}

/* Tutti gli elementi linkati in navbar */
.navbar a {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  color: white;
  white-space: nowrap;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0px;
}

.navbar a i {
  line-height: 0;
  margin-left: 5px;
  font-family: MuseoModerno !important;
  font-size: 20px;
}
.navbar a:hover{
  color:  #9fa4c4 !important;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden; 
  background: #fff; /* CI POTREBBE STARE PURE TRASPARENTE CIOE rgba(0000) */
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: black;
}


.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  color: green;
}

a:hover{
  color: black !important;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

#magazine_title{
  width:70%;
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-family:'Zen Antique', serif;
  color:black;
}

#main_subt{
  font-size: 20px;
  text-align: left;
  line-height: 1em;
}

#spinning_vinyl{
  width: 200px;
  height:auto;
}

.container{
  font-family:'Zen Antique', serif;
  color:black;
}

body{
 /* background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);*/
   background-image: url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/brush.jpg");
   background-size: cover;
}

.parallax{
  background-image: url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/moving.gif");
  min-height: 200px;

/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  margin-left: 70px;
}

#hr{
  border-top: 3px solid black;
  width: 50%;
}

.col{
  text-align: center;
}

.img_issue{
  width:200px;
  height: auto;
}