@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&display=swap');

    /* NAVBAR */
.navbar {
  font-family:'Arial Rounded MT Bold', serif;
  background-color: transparent;
  position: fixed;
}

.navbar_hr {
  color: white;
}


/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
}

/* Tutti gli elementi in navbar */
.navbar li {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  white-space: nowrap;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0px;
  color:white;
}

.navbar li a {
   color:white;    
}

.navbar li:hover{
  color: #D9AFD9;!important;
}

.navbar li a:hover{
  color: #D9AFD9; !important;
  text-decoration:none;
}


/* Dropdown */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  padding: 10px 0;
  visibility: hidden;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #6BCDD9 100%);
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul li{
  padding: 10px;
  font-size: 20px;
  color: white;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


/*Fine navbar*/


#magazine_title{
  width:70%;
  margin: auto;
  text-align: center;
  font-size: 90px;
  font-family: 'Arial Black', sans-serif;  color:white;
}

#main_subt{
  font-size: 20px;
  text-align: left;
  line-height: 1em;
}

#spinning_vinyl{
  width: 200px;
  height:auto;
}

.container{
  font-family:'Arial Rounded MT Bold', serif;
  color:white;
}

.title{
  text-align: center;
  font-family:'Arial Rounded MT Bold', serif;
  font-weight: bolder;
  color: white;
  font-size: 44px;
}

body{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #6BCDD9 100%);
  /*background-image: url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/brush.jpg");*/
=======
  /*background-image: url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/brush.jpg");*/
>>>>>>> 413a0285ca79ac294b591024e0dae82754b8cd8a
background-size: cover;
}

.parallax{
  background-image: url("https://freight.cargo.site/w/2200/q/94/i/a1665021a248427919340c2fe65aa65228a688d25a862f9f8c6c48c1b0b91da1/resonance-2.4.png");
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2{
  background-image: url("https://freight.cargo.site/w/2194/q/94/i/ae83d87222f3fd22152ae58ce86e6a349e9d2006e4b9f2ce404fdf4c56d34a62/resonance-2.6.png");
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}



.card{
  margin-left: 70px;
}

#hr{
  border-top: 3px solid whitesmoke;
  width: 50%;
}

.row{
  column-gap: 9px;
}

.col{
  margin-top: 40px;
  text-align: center;
  border: 3px dotted whitesmoke;
  border-radius: unset;
  margin: 0.5em;
}

#one{
 margin-left: 10px;
}

#three{
   margin-right: 10px;
}

.img_issue{
  width:200px;
  height: auto;
  border-radius: 25px;
}


.issue_title {
  font-family:'Arial Rounded MT Bold', serif;
  color: white;


}

.issue_txt {
  font-family:'Arial', serif;
  color: white;


}

.description {
  font-family:'Arial', serif;
  font-size: 20px;

}


p
{
  font-family:'Arial', serif;
  color: white;
  padding: 20px;

}

.footer_text
{
  font-family:'Arial', serif;
  color: white;
}

h3 {
  font-family: 'Arial Rounded MT Bold', serif;
  color: white;

}

footer {
  display: block;

}

/*AGGIUNTE*/

/* Documentation Page CSS*/
styles {
  border: 3px white;
  border-style: dotted;
  border-radius: 25px;
  margin-top: 10px;


}

 styles2 {
  border: 3px white;
  border-style: dotted;
  border-radius: 25px;
  margin-top: 10px;


}

.style_title {
  text-align: center;


}

h4 {

  font-family: "Arial Rounded MT Bold";


}