
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
font-family: "lansbury";
src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/lansbury.ttf");
}
@font-face {
  font-family: "Musketeer";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Musketeer Extra Bold Regular.ttf");
}

@font-face {
  font-family: "Metropolitaines";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Metropolitaines D Regular.ttf");
}


@font-face{
  font-family:Golddrew;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Golddrew.ttf");
}

@font-face{
  font-family:Franklin;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/BenjaminFranklin.ttf");
}


@font-face{
  font-family:Cuivrerie;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Cuivrerie-Demo.otf");
}



/* NAVBAR */
.navbar {
  border: 7px solid black!important;
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #C73123 !important;

}
/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  clear: left;
  font-family: "Cuivrerie";
  font-size: 50px;
  color: #FFCB69;
}

.navbar li {
  position: relative;
}

/* Tutti gli elementi linkati in navbar */
span::first-letter {
  font-size: 60px;
  color: black !important;
}
.navbar a {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 0px 20px;
  font-size: 50px;
  color: #FFCB69;
  white-space: nowrap;
  transition: 0.3s;
  text-align:center !important;
  margin-right: 20px;
  margin-left: 30px;
  margin-bottom: 0px;
  padding: 0px;

}

.navbar a i {
  line-height: 0;
  margin-left: 5px;
  font-family: MuseoModerno !important;
  font-size: 20px;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden; 
  background: #fff; /* CI POTREBBE STARE PURE TRASPARENTE CIOE rgba(0000) */
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: black;
}


.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
  color: green;
}


a:hover{
  color: black !important;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

#chat{
  height:150px;
  width: auto;
  position: absolute;
  right:0;
  top:0;
  bottom:0;
}

body{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/wall2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title_issue{
  width:40%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/exx.png);
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 60px;
  text-align: center; 
  padding-top: 50px;
}

span::first-letter {
  font-size: 60px;
  color: black !important;
}

.article_col{
  margin: 0.5em;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}

.article_col figure{
  text-align:center;
}

.article_col .video{
  display: block;
  text-align:center;
}

#col1{
  padding:0;
  background-color: rgb(211, 104, 65);
  text-align: center;
}

#col1_img{
  font-family:'Franklin', cursive;
  font-size: 60px;
  color:rgb(228, 217, 201);
  padding:0.8em;
  line-height: 1em;
  background-image: url("C:/Users/Francesca/Downloads/Bici.jpeg");
   background-repeat: no-repeat;
  background-size: auto;
}

#col1_subt{
  font-family:'Franklin', cursive;
  font-size: 50px;
  color:rgb(228, 217, 201);
  line-height: 1em;
  text-align: center;
}
#col1 p, #col1 li{
  font-family: 'Franklin', serif;
  text-align: center;
  color: rgb(194, 182, 166);
  padding-right:15px;
  padding-left: 15px;
}

#col1 .paragraph_header{
  font-family:'Franklin', cursive;
  color: black;
  text-align: center;
}

#col1 figcaption{
  font-family: 'Coustard', cursive;
  text-align: justify;
  color: rgb(194, 182, 166);
  text-align: center;
  padding-top:0.5em;
}

#p_1_col1{
  text-transform:uppercase;
}
#col1 .extract {
  background-color: #7e9fa0;
  color: black;
  border-radius: 5px;
  padding:0.5em;
  text-align: center;
  margin:10px;
  font-family: 'Skranji', cursive;
  text-transform: uppercase;
  font-size: 15px;
  width: 80%;
  margin:auto;
  margin-bottom: 1em;
}

#ballerini{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#music{
  float: left;
}

#col2{
  background-color:black; 
}

#col2_img{
  color:rgb(191, 164, 4); 
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  line-height: 1em;
  padding:0.4em;
}

#amazzone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
}

#left{
  color: rgb(47,84,161);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 8px;
}

#center{
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
}

#right{
  color: rgb(47,84,161);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 8px;
}

#col2_txt{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
  text-align: center;
  padding:15px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

#col2 .extract{
  font-family: 'Dela Gothic One', cursive;
  font-size: 20px; 
  color: rgb(47,84,161);
  text-align: center;
}

#col3{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
}

#col3_img{
  font-family:  'Golddrew', cursive;
  color: rgb(0, 53, 102);
  font-size: 70px;
  text-align: center;
  line-height: 1em;
  padding:0.8em;
}

#li{
  float:left;
}

.centered{
  text-align: center;
  font-family:  'Averia Libre', cursive;
}

.smaller{
  font-size: 45px;
  line-height: 1em;
}

#ear_line{
  border-top: 15px solid black;
}

#col3 p:nth-of-type(1){
  column-count: 2;
  color:rgb(194,182,166);
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

#col3 p{
  color:rgb(194,182,166);
  font-size: 20px;
  font-family: "Coustard", cursive;
  text-align: center;
}

#col3 .extract{
  text-align: justify;
  color: black;
  font-size: 20px;
}

.article_col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
.article_col::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.article_col::-webkit-scrollbar-thumb {
    background-color: #000000;
}

