
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


@font-face {
font-family: "lansbury";
src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/lansbury.ttf");
}
@font-face {
  font-family: "Musketeer";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Musketeer Extra Bold Regular.ttf");
}

@font-face {
  font-family: "Metropolitaines";
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Metropolitaines D Regular.ttf");
}


@font-face{
  font-family:Golddrew;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Golddrew.ttf");
}

@font-face{
  font-family:Franklin;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/BenjaminFranklin.ttf");
}


@font-face{
  font-family:Cuivrerie;
  src:url("C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/FONTS/chat_fonts/Cuivrerie-Demo.otf");
}

/* NAVBAR */
.navbar {
  position: relative;
  background-color: #C73123;
  height: 4em;
  margin: 0 auto;  
}

/* Rende la navbar orizzontale */
.navbar ul {
  display: flex;
  list-style: none;
  clear: left;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

/* Tutti gli elementi linkati in navbar */
.navbar a {
  display: flex;
  color: #FFCB69;
  margin-right: 20px;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  padding: 10px 0;
  z-index: 2;
  visibility: hidden; 
  background: #fff; 
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
}

.navbar .dropdown ul li {
  min-width: 200px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: black;
}


.navbar .dropdown:hover > ul {
  visibility: visible;
}


a:hover{
  color: black !important;
}


body{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/wall2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.article_col{
  margin: 0.5em;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  border-width: 10px;
  border-style: solid;
  border-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg) 25% round;
}

.article_col figure{
  text-align:center;
}

.article_col .video{
  display: block;
  text-align:center;
}

#col1{
  padding:0;
  background-color: rgb(211, 104, 65);
  text-align: center;
}


#col1 .title{
  font-family:'Franklin', cursive;
  font-size: 35px;
  color:rgb(228, 217, 201);
  padding:0.6em;
  line-height: 1em;
}

#col1 .subtitle{
  font-family:'Franklin', cursive;
  font-size: 30px;
  color:rgb(228, 217, 201);
  line-height: 1em;
  text-align: center;
}

#col1 p, #col1 li{
  font-family: 'Franklin', serif;
  text-align: center;
  color: rgb(194, 182, 166);
  padding-right:15px;
  padding-left: 15px;
  font-size: 12px;
  text-transform:uppercase;
}

#col1 .paragraph_header{
  font-family:'Franklin', cursive;
  color: black;
  text-align: center;
  font-size: 15px;
  text-transform:uppercase;
}

#col1 figcaption{
  font-family: 'Franklin', cursive;
  text-align: justify;
  color: rgb(194, 182, 166);
  text-align: center;
  padding-top:0.5em;
  text-transform:uppercase;
  font-size: 10px;
}

#col1 .extract {
  background-color: #7e9fa0;
  color: black;
  border-radius: 5px;
  padding:0.5em;
  text-align: center;
  margin:10px;
  font-family: 'Skranji', cursive;
  text-transform: uppercase;
  font-size: 15px;
  width: 80%;
  margin:auto;
  margin-bottom: 1em;
}

#ballerini{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#music{
  float: left;
}

#col2{
  background-color:black; 
  /*border-width: 3px;
  border-style: solid;
  border-color: red;
  outline-style: solid;
  outline-color: white;*/
}

#col2 .title{
  color:rgb(191, 164, 4); 
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  line-height: 1em;
  padding:0.4em;
}

#amazzone{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
}

#left{
  color: rgb(47,84,161);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 30px;
  padding-top: 9px;
}

#center{
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 10px;
  padding-top: 14px;
}

#right{
  color: rgb(47,84,161);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 30px;
  padding-top: 9px;
}

#col2_txt{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
  text-align: center;
  padding:15px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

#col2 .extract{
  font-family: 'Dela Gothic One', cursive;
  font-size: 20px; 
  color: rgb(47,84,161);
  text-align: center;
}

#col3{
  background-image: url(C:/Users/Francesca/Desktop/Vitali/Sito_Vitali/Style/images/old_paper.jpg);
}

#col3 .title_and_subtitle{
  font-family:  'Golddrew', cursive;
  color: rgb(0, 53, 102);
  font-size: 40px;
  text-align: center;
  line-height: 1em;
  padding:0.6em;
}

#li{
  float:left;
}

.centered{
  text-align: center;
  font-family:  'Averia Libre', cursive;
}

.smaller{
  font-size: 30px;
  line-height: 1em;
}

#ear_line{
  border-top: 15px solid black;
}

#col3 p:nth-of-type(1){
  column-count: 2;
  color:rgb(194,182,166);
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

#col3 p{
  color:rgb(194,182,166);
  font-size: 20px;
  font-family: "Coustard", cursive;
  text-align: center;
}

#col3 .extract{
  text-align: justify;
  color: black;
  font-size: 20px;
}

.article_col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
.article_col::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.article_col::-webkit-scrollbar-thumb {
    background-color: #000000;
}

