
h1 {
  color: red;
  font-family: Arial;
}

.title {
  text-align: center;
  font-size
}

.navbar {
  padding: 0;
  background-image: url("")
}

/* Rende la navbar orizzontale */
.navbar ul {
  margin: 1;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

/* Tutti gli elementi linkati in navbar */
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 0px 30px;
  font-family: MuseoModerno !important;
  font-size: 20px;
  color: blue;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
 
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(127, 137, 161, 0.25);
  transition: 0.2s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

/* Elementi che stanno del dropdown */
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: blue;
}




.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

#name_magazine {
  border-color: black;
  border: 5px;
 

}

#magazine {
  border-color: black;
  border: 10px;

}

#team {
  border-color: black;
  border: 10px;

}

.parallax {
  /* The image used */
  background-image: url("file:///C:/Users/lunet/Downloads/Untitled(8).png");

/* https://image.freepik.com/vetores-gratis/fundo-colorido-da-onda-do-equalizador_23-2148430378.jpg */

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  border-radius: 25px;
  border-style: solid;
}

@keyframes sfondo {
  from {background-color: #4CCAF2;}
  to {background-color: #97F676;}
}

/* The element to apply the animation to */
.parallax2 {

  background-color: red;
  animation-name: sfondo;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-delay: 3s;
  animation-iteration-count: infinite;

}

.parallax2 {
  /* The image used */
  background-image: url("https://i.pinimg.com/564x/40/d8/c2/40d8c2f116f6a11a4f3616e0b7d9417f.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* centrare le imgs */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  object-fit: cover;
}

body {
  background-color: #000000 !important;
}